<div class="container-fluid">
  <div class="welcome-header">
    <h1>Welcome to Cool Bike</h1>
    <h2>Your source for magic bikes in Berlin</h2>
  </div>
  <hr>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <%= image_tag("cs26_mustard_retina.jpg", class: "img-responsive bike_pics") %>
  </div>  
  <div class="col-xs-6 col-sm-4 col-md-3">
    <%= image_tag("beigered_retina.jpg", class: "img-responsive bike_pics") %>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-3">  
    <%= image_tag("bluegray_retina.jpg", class: "img-responsive bike_pics") %>
  </div> 
  <div class="col-xs-6 col-sm-4 col-md-3"> 
    <%= image_tag("bluejade_retina.jpg", class: "img-responsive bike_pics") %>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-3">  
    <%= image_tag("bordeaux_retina.jpg", class: "img-responsive bike_pics") %>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-3">  
    <%= image_tag("mint_retina.jpg", class: "img-responsive bike_pics") %>
  </div>  
  <div class="col-xs-6 col-sm-4 col-md-3">  
    <%= image_tag("momo_retina.jpg", class: "img-responsive bike_pics") %>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-3">  
    <%= image_tag("olive_retina.jpg", class: "img-responsive bike_pics") %>
  </div>

  <!-- <p>Welcome! The date and time is <%= Time.now %></p> -->

</div>
